body {
  margin: 0;
  line-height: normal;
}
.overview-kantor-cabang4 {
  position: absolute;
  top: 52px;
  left: 2px;
}
.overview-kantor-cabang5 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-9xl);
  color: var(--color-gray-3600);
}
.dashboard2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 525px;
  height: 74px;
  color: var(--color-gray-2800);
}
.overview-outlet-inner {
  position: absolute;
  top: 105px;
  left: 2px;
  border-radius: var(--br-3xl);
  background-color: var(--color-gray-500);
  border: 1px solid var(--color-gray-1800);
  box-sizing: border-box;
  width: 952px;
  height: 1243px;
}
.edit2,
.kantor-cabang-mulyosari2 {
  position: absolute;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.edit2 {
  top: 745px;
  left: 868px;
  color: var(--color-violet-300);
}
.kantor-cabang-mulyosari2 {
  top: 28px;
  left: 0;
}
.kantor-cabang4 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 19px;
  color: var(--color-gray-3600);
}
.nama-outlet8 {
  position: absolute;
  top: 745px;
  left: 46px;
  width: 233px;
  height: 50px;
}
.jalan-raya-mulyosari2 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.kota-sby-jawa2 {
  margin: 0;
}
.alamat4 {
  position: absolute;
  top: 845px;
  left: 46px;
  width: 520px;
  height: 72px;
}
.catatan-inner,
.jumlah-mesin2,
.status11 {
  position: absolute;
  top: 965px;
  left: 46px;
  width: 150px;
  height: 50px;
}
.catatan-inner,
.status11 {
  top: 1055px;
  width: 130px;
}
.catatan-inner {
  top: 28px;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--background-paper);
  border: 1px solid var(--color-gray-1800);
  box-sizing: border-box;
  width: 860px;
  height: 135px;
}
.keadaan-kantor-cabang-container2 {
  position: absolute;
  top: 44px;
  left: 13px;
  letter-spacing: 0.01em;
  font-weight: 500;
}
.catatan5 {
  position: absolute;
  top: 0;
  left: 1px;
  font-size: var(--font-size-base);
  color: var(--color-gray-3600);
}
.catatan4 {
  position: absolute;
  top: 1145px;
  left: 45px;
  width: 860px;
  height: 163px;
}
.frame-photo2,
.outlet-btn-1-12 {
  position: absolute;
  border-radius: var(--br-3xl);
}
.frame-photo2 {
  top: 0;
  left: 0;
  background-color: var(--background-paper);
  width: 879px;
  height: 555px;
}
.outlet-btn-1-12 {
  top: 63px;
  left: 41px;
  width: 772px;
  height: 438px;
  object-fit: cover;
}
.frame-photo-container {
  position: absolute;
  top: 149px;
  left: 38px;
  width: 879px;
  height: 555px;
}
.overview-outlet2 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 954px;
  height: 1348px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.list-outlet-kc2 {
  position: absolute;
  top: 5.56px;
  left: 0;
  letter-spacing: 0.02em;
}
.list-aset-item {
  position: absolute;
  top: 42.56px;
  left: 2px;
  width: 952px;
  height: 0;
}
.next-page-icon13 {
  position: absolute;
  top: 0;
  left: 40px;
  width: 41.12px;
  height: 40px;
  object-fit: cover;
}
.aset-2,
.list-aset1 {
  position: absolute;
  top: 0;
  left: 874.38px;
  width: 40px;
  height: 41.12px;
}
.list-aset1 {
  top: 1413.44px;
  left: 0;
  width: 954px;
  height: 45.56px;
}
.list-atm-kc2 {
  position: absolute;
  top: 5.56px;
  left: 6px;
  letter-spacing: 0.02em;
}
.list-aset-inner {
  position: absolute;
  top: 42.56px;
  left: 8px;
  width: 952px;
  height: 0;
}
.next-page-icon14 {
  position: absolute;
  top: 0;
  left: -40px;
  width: 41.12px;
  height: 40px;
  object-fit: cover;
}
.tombol-down4 {
  position: absolute;
  top: 41.12px;
  left: 920.38px;
  width: 40px;
  height: 41.12px;
  transform: rotate(-180deg);
  transform-origin: 0 0;
  /* cursor: pointer; */
}
.outlet-4-child1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-1800);
  box-sizing: border-box;
  width: 954px;
  height: 136px;
}
.next-page-icon15 {
  position: absolute;
  top: 51px;
  left: 873.81px;
  width: 41.12px;
  height: 40px;
  object-fit: cover;
}
.outlet-4-child2,
.outlet-4-child3 {
  position: absolute;
  top: 29.5px;
  left: 231.83px;
  border-right: 1px solid var(--color-tan);
  box-sizing: border-box;
  width: 1px;
  height: 83px;
}
.outlet-4-child3 {
  left: 471.36px;
}
.buah9,
.jumlah-atm12,
.nama-atm3,
.sewa6,
.status12,
.unair3 {
  position: absolute;
  top: 30px;
  left: 38.04px;
  display: inline-block;
  width: 138.78px;
}
.buah9,
.jumlah-atm12,
.sewa6,
.status12,
.unair3 {
  left: 262.14px;
  width: 150.09px;
}
.buah9,
.sewa6,
.status12,
.unair3 {
  left: 496.53px;
  width: 68.88px;
}
.buah9,
.sewa6,
.unair3 {
  top: 63px;
  left: 38.04px;
  font-size: var(--font-size-2xs);
  color: var(--color-violet-100);
  width: 119.25px;
}
.buah9,
.sewa6 {
  left: 262.14px;
  width: 69.91px;
}
.sewa6 {
  left: 498.59px;
  width: 158.31px;
}
.outlet-41,
.outlet-51,
.outlet-61 {
  position: absolute;
  top: 39px;
  left: 0;
  width: 954px;
  height: 136px;
}
.outlet-51,
.outlet-61 {
  top: 209px;
}
.outlet-61 {
  top: 379px;
}
.tambah-atm1 {
  position: absolute;
  top: 0;
  left: 856px;
  font-size: var(--components-button-large-size);
  letter-spacing: -0.02em;
  font-weight: 500;
  color: var(--color-violet-300);
  text-align: right;
}
.outlet-4-group {
  position: absolute;
  top: 53.56px;
  left: 0;
  width: 954px;
  height: 515px;
  font-size: var(--font-size-base);
  color: var(--color-black);
}
.list-aset2 {
  position: absolute;
  top: 1533.44px;
  left: -6px;
  width: 960px;
  height: 568.56px;
}
.done-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-gray-3600);
  width: 305px;
  height: 67px;
  color: white;
  font-size: 25px;
}
.done-child1,
.done6,
.done7 {
  position: absolute;
}
/* .done7 {
  top: 22px;
  left: 125px;
  letter-spacing: -0.02em;
} */
.done6 {
  top: 2186px;
  left: 319px;
  width: 305px;
  height: 67px;
  /* cursor: pointer; */
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--background-paper);
}
.overview-outlet-group {
  position: absolute;
  top: 50px;
  left: 368px;
  width: 1509px;
  height: 942px;
  overflow-y: auto;
  font-size: var(--font-size-4xl);
  color: var(--color-gray-3600);
}
.hello-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  background-color: var(--color-gray-700);
  border: 0.8px solid var(--color-gray-2100);
  box-sizing: border-box;
  width: 338px;
  height: 61px;
  opacity: 0.85;
}
.customer-icon2,
.hello-ananda-segaf2 {
  position: absolute;
  top: 20px;
  left: 69px;
}
.customer-icon2 {
  top: 11px;
  left: 15px;
  border-radius: var(--br-6xl);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.hello2 {
  position: absolute;
  top: 50px;
  left: 1539px;
  width: 338px;
  height: 61px;
}
.notification-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xl);
  background-color: var(--background-paper);
  width: 507px;
  height: 812px;
}
.iconlylightfilter2 {
  position: absolute;
  height: 2.96%;
  width: 4.73%;
  top: 4.8%;
  right: 7.89%;
  bottom: 92.24%;
  left: 87.38%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.notification5 {
  position: absolute;
  top: 35px;
  left: 40px;
  font-size: var(--font-size-3xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  font-family: var(--font-montserrat);
}
.g1-child4 {
  position: absolute;
  top: 104.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 428px;
  height: 1px;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-1300);
  width: 60px;
  height: 60px;
  opacity: 0.65;
}
.doorbell-icon6 {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.jatuh-tempo6,
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}
.jatuh-tempo6 {
  left: 71px;
  font-weight: 600;
  display: inline-block;
  width: 195px;
  height: 23px;
}
.outlet-kc-mulyosari-container6 {
  position: absolute;
  top: 30px;
  left: 74px;
  font-size: var(--font-size-7xs);
  display: inline-block;
  width: 330px;
  height: 96px;
}
.g16,
.g17,
.g18 {
  position: absolute;
  top: 115px;
  left: 40px;
  width: 427px;
  height: 126px;
  opacity: 0.95;
}
.g17,
.g18 {
  top: 245px;
}
.g18 {
  top: 385px;
}
.notification4 {
  position: absolute;
  top: 159px;
  left: 1353px;
  width: 507px;
  height: 812px;
  font-family: var(--font-poppins);
}
.back-rect-12,
.overview-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background-paper);
  width: 305px;
  height: 1080px;
}
.overview-inner {
  border-radius: var(--br-5xl);
  width: 249px;
  height: 74px;
}
.overview5 {
  position: absolute;
  top: 0;
  left: 44px;
  letter-spacing: -0.02em;
  display: inline-block;
  width: 107.35px;
}
.iconlybolddocument2 {
  position: absolute;
  height: 100%;
  width: 17.55%;
  top: 0;
  right: 82.45%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.overview-container,
.overview4 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 151.35px;
  height: 24px;
}
.overview4 {
  top: 168px;
  left: 40px;
  width: 249px;
  height: 74px;
}
.user5 {
  position: absolute;
  top: 0;
  left: 44px;
  letter-spacing: -0.02em;
}
.iconlyboldprofile2 {
  position: absolute;
  height: 100%;
  width: 26.37%;
  top: 0;
  right: 73.63%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.outlet7,
.user4 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 91px;
  height: 24px;
}
.outlet7 {
  top: 270px;
  left: 40px;
  width: 249px;
  height: 74px;
}
.home-icon2,
.outlet-child3 {
  position: absolute;
  top: 0;
  left: 0;
}
.outlet-child3 {
  border-radius: var(--br-5xl);
  background-color: var(--color-gold-200);
  width: 249px;
  height: 74px;
}
.home-icon2 {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.kantor-cabang-container,
.outlet8 {
  position: absolute;
  top: 25px;
  left: 26px;
  width: 197px;
  height: 24px;
}
.outlet8 {
  top: 372px;
  left: 40px;
  width: 249px;
  height: 74px;
  color: var(--color-gray-3600);
}
.log-out5 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -0.02em;
}
.log-out-frame {
  position: absolute;
  top: 26px;
  left: 70px;
  width: 78px;
  height: 24px;
}
.iconlyboldlogout2 {
  position: absolute;
  height: 32.43%;
  width: 9.64%;
  top: 35.14%;
  right: 79.92%;
  bottom: 32.43%;
  left: 10.44%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.log-out4,
.samping-inner {
  position: absolute;
  top: 569px;
  left: 40px;
  width: 249px;
  height: 74px;
}
.samping-inner {
  top: 543.5px;
  left: 53.5px;
  border-top: 1px solid var(--color-gray-1500);
  box-sizing: border-box;
  width: 199px;
  height: 1px;
}
.logo-btn-12 {
  position: absolute;
  top: 66px;
  left: 54px;
  width: 191px;
  height: 48px;
  object-fit: cover;
}
.samping2,
.tab-super-admin2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 305px;
  height: 1080px;
}
.tab-super-admin2 {
  font-size: var(--font-size-base);
  color: var(--color-gray-2400);
}
.overview-kantor-cabang-6 {
  position: relative;
  background-color: var(--color-gray-300);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  /* cursor: pointer; */
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-4000);
  font-family: var(--font-montserrat);
}
